body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display:flex;
    justify-content: space-between;
    margin:0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.text-praimary{
    color:#FD6E0A;
}
.btn-praimary{
    border-radius: 5px;
    background: #FD6E0A;
    border:0;
    font-size: 20px;
    font-weight: 700;
    color:white;
    padding:15px 35px;
}
nav > ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin-right: 50px;
    align-items: center;
}
nav a{
    text-decoration: none;
    color:#474747;
}
.header{
    background-color: #FFF8F3;
}
.bennar{
    padding:30 30 30 150px;
    display: flex;
    align-items: center;
}
.bennar .profile-picture{
    width: 400px;
}